@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#commints{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 7rem;
}

#commints h2{
    font-size: 36px;
}

#commints .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.border{
    height: 3px;
    width: 120px;
    background-color: red;
    margin: 15px 0 30px;
}

#commints .row .col{
    background-color: #fff;
    margin: 0 1rem;
    padding: 50px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

#commints .row .col img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

#commints .row .col h3{
    font-size: 20px;
}

#commints .row .col .stars{
    margin: 15px 0;
    color: red;
}

#commints .row .col p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4 ;
}
/* tablet */
@media (max-width: 900px) {
    .row{
        flex-direction: column;
    }
    #commints .row .col{
        margin: 1rem 0;
    }
}
/* mobile */
@media (max-width: 600px) {    
    #commints{
        padding: 3rem;
    } 
}